.App {
    display: flex;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    padding: 40px;
    background-color: rgb(231, 237, 237);
    font-size: larger;
}

.list {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; */
    list-style: none;
}

.list-element {
    margin-bottom: 30px;
}

.link {
    margin: 0 5px;
    text-decoration: none;
    color: teal;
    font-size: larger;
}

.content {
    width: 85%;
    margin-top: 50px;
    margin-left: 15%;
}

@media (max-width: 700px) {
    #sidebar {
        width: 17%;
        padding: 60px 7px;
        font-size: small;
    }

    .content {
        margin-left: 17%;
    }
}
